# Functions Class 2

![Alt text](image.png)

![Alt text](image-1.png)

In [49]:
def cel_to_far(c):
    F = (9/5)*c + 32
    return F

In [50]:
cel_to_far(37)

98.60000000000001

In [51]:
cel_to_far(40)

104.0

In [52]:
def far_to_cel(F):
    C = (5/9)*(F - 32)
    return C

In [53]:
far_to_cel(100)

37.77777777777778

![Alt text](image-2.png)

In [54]:
def factorial(n):
    if n==0:
        f=1
    else:
        f=1
        for i in range(1,n+1):
            f=f*i
    return f

In [55]:
factorial(5)

120

In [56]:
factorial(8)

40320

![Alt text](image-3.png)

In [57]:
a = 'ETLHive'
a

'ETLHive'

In [58]:
a.lower()

'etlhive'

In [59]:
a.upper()

'ETLHIVE'

In [60]:
'a' in 'ETLHive'

False

In [61]:
'i' in 'ETLHive'

True

In [62]:
def vowel_count(st):
    v = 0
    for i in st.lower():
        if i in 'aeiou':
            v = v+1
    return v

In [63]:
vowel_count('my name is mahendra')

6

### Q4: For given P INR,N in Years and R in % p.a. Calculate EMI(Equal installment EMI)

![Alt text](image-4.png)

In [70]:
def Emi(P,N,R):
    #Convert N from Years to Month
    n = N*12
    #Convert Rate % from p.a to p.m
    r = R/(12*100)
    #Calculate EMI
    x = (1+r)**n 
    EMI = P*r*x/(x-1)

    return round(EMI)

In [71]:
Emi(100000,24,12.5)

1097

In [75]:
Emi(P=500000,N=3,R=12.5)

16727

In [76]:
Emi(400000,5,11)

8697

### Q5.Write a function to output grade of a student based on below criteria(Take marks as list input)

• More than 90 : A

• 80-89 : B

• 70-79 : C

• 60-69 : D

• Below 60 : F

In [2]:
def get_grades(*marks):
    gr = []
    for i in marks:
        if i >=90:
            gr.append('A')
        elif i>80 and i<=89:
            gr.append('B')
        elif i>70 and i<=79:
            gr.append('C')
        elif i>60 and i<=69:
            gr.append('D')
        else:
            gr.append('F')
    
    return gr

In [3]:
get_grades(45)

['F']

In [4]:
get_grades(85)

['B']

In [5]:
get_grades(85,64,98,72,55,77,88,36)

['B', 'D', 'A', 'C', 'F', 'C', 'B', 'F']

![Alt text](image-5.png)

In [6]:
def analyze_marks(*marks):
    # Find Average marks
    s = sum(marks)
    c = len(marks)
    avg = s/c

    # Find Highest Marks
    High = max(marks)

    # Find Lowest Marks
    Low = min(marks)

    # Number of student passed
    p = 0
    f = 0
    for i in marks:
        if i>=60:
            p = p + 1
        else:
            f = f + 1

    # Create a Dictionary
    dct = {'Average':[avg],
           'Highest':[High],
           'Lowest':[Low],
           'nPass':[p],
           'NFail':[f]}
    
    # Create DataFrame
    import pandas as pd 
    df = pd.DataFrame(dct)

    return df

In [7]:
analyze_marks(35,65,85,99,85,76,41,65,55)

     Average  Highest  Lowest  nPass  NFail
0  67.333333       99      35      6      3

## Decorator Function

In [8]:
def Hello_World():
    print('Hello World')

In [9]:
Hello_World()

Hello World

In [12]:
def welcome_decorator(func):
    def wrapper(*args,**kwargs):
        print('Welcome to my Program')
        func(*args,**kwargs)
        print('Thank you for using my Program')
    return wrapper

In [14]:
@welcome_decorator
def hello_world1():
    print('Hello World')

In [16]:
hello_world1()

Welcome to my Program
Hello World
Thank you for using my Program

In [19]:
@welcome_decorator
def random_addition():
    a = 55
    b = 65
    print(f'addition of {a} and {b} is {a+b}')

In [20]:
random_addition()

Welcome to my Program
addition of 55 and 65 is 120
Thank you for using my Program

In [21]:
@welcome_decorator
def add(a,b):
    print(f'addition of {a} and {b} is {a+b}')

In [22]:
add(22,22)

Welcome to my Program
addition of 22 and 22 is 44
Thank you for using my Program

## Calculate Execution Time for Given Code.

In [23]:
import time

In [25]:
time.time()

1695291978.0554042

In [27]:
def time_decorator(func):
    def wrapper(*args,**kwargs):
        t1 = time.time_ns()
        func(*args,**kwargs)
        t2 = time.time_ns()
        tr = t2-t1
        print(f'Time required execution for this code is {tr}')
    return wrapper

In [29]:
@time_decorator
def sqr_list(n):
    sq = []
    for i in range(1,n+1):
        sq.append(i*i)
    return sq

In [32]:
sqr_list(55000)

Time required execution for this code is 11979200

In [35]:
@time_decorator
def Emi(P,N,R):
    #Convert N from Years to Month
    n = N*12
    #Convert Rate % from p.a to p.m
    r = R/(12*100)
    #Calculate EMI
    x = (1+r)**n 
    EMI = P*r*x/(x-1)

    print(EMI)

In [36]:
Emi(100000,9,8.5)

1327.935270562291
Time required execution for this code is 1000800