# Class OOP ( Object Oriented Class)

In [38]:
age = 29
print(type(age))

<class 'int'>

In [39]:
h = 5.7
print(type(h))

<class 'float'>

In [40]:
s = [8,6,9,7,6,5]
print(type(s))

<class 'list'>

## Create Custom Class Person

In [41]:
class Person:
    # constructer function - define attributes
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # user define function
    def talk(self):
        print(f'Hi there my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am a {self.gender}')
        print(f'I work as {self.occupation}')

In [42]:
p1 = Person('Hridaan',1,'Male','Child')
p1

In [43]:
p2 = Person(name='Mahendra',age=29,gender='Male',occupation='Data Analyst')

In [44]:
p2

In [45]:
p2.name

'Mahendra'

In [46]:
p1.name

'Hridaan'

In [47]:
p1.age

1

In [48]:
p2.age

29

In [49]:
p2.occupation

'Data Analyst'

In [50]:
p1.talk()

Hi there my name is Hridaan
My age is 1
I am a Male
I work as Child

In [51]:
p2.talk()

Hi there my name is Mahendra
My age is 29
I am a Male
I work as Data Analyst

### Create a Bank account Class

![Alt text](image.png)

In [52]:
class account:

    # add intit construction
    def __init__(self,ac_no,name,bal=0):
        self.ac_no=ac_no
        self.name=name
        self.bal=bal

    # Function for deposit money 
    def deposit(self,amt):
        self.bal = self.bal + amt
        print(f'Balance of amount {amt} INR is Deposted in your bank account no : {self.ac_no}')
        print(f'Current balance is : {self.bal}')

    # Function to withdraw Money
    def withdraw(self,amt):
        if self.bal>=amt:
            self.bal=self.bal-amt
            print(f'Amount of {amt} INR withdrawn from your bank acouont : {self.ac_no}')
            print(f'Current balance is : {self.bal}')
        else:
            print(f'Insufficient Balance in your Acount {self.ac_no}.Current balance in your acount : {self.bal}')

    # Function to Transfer Money
    def Transfer(self,amt,ac2):
        if self.bal >= amt:
           self.bal = self.bal - amt
           ac2.bal = ac2.bal + amt 
           print(f'Amount of {amt} INR Transferred to acouont Number : {ac2.ac_no} from your account : {self.ac_no}')
           print(f'Current balance is : {self.bal}')
        else:
            print(f'Insufficient Balance in your Acount {self.ac_no}.Current balance in your acount : {self.bal}')

In [53]:
a1 = account(ac_no=12345,name='Mahendra Ballal',bal=5000)

In [54]:
a1

In [55]:
print(type(a1))

<class '__main__.account'>

In [56]:
a1.ac_no

12345

In [57]:
a1.bal

5000

In [58]:
a1.name

'Mahendra Ballal'

In [59]:
a1.deposit(2500)

Balance of amount 2500 INR is Deposted in your bank account no : 12345
Current balance is : 7500

In [60]:
a1.withdraw(500)

Amount of 500 INR withdrawn from your bank acouont : 12345
Current balance is : 7000

In [61]:
a1.deposit(4000)

Balance of amount 4000 INR is Deposted in your bank account no : 12345
Current balance is : 11000

In [62]:
a2 = account(ac_no=456,name='Hridaan',bal=1000)

In [63]:
a2

In [64]:
a1.deposit(5000)

Balance of amount 5000 INR is Deposted in your bank account no : 12345
Current balance is : 16000

In [65]:
a1.bal

16000

In [66]:
a1.Transfer(amt=1000,ac2=a2)

Amount of 1000 INR Transferred to acouont Number : 456 from your account : 12345
Current balance is : 15000

In [67]:
a2.bal

2000

In [68]:
a2.Transfer(1000,a1)

Amount of 1000 INR Transferred to acouont Number : 12345 from your account : 456
Current balance is : 1000

# Assignment 
![Alt text](image-1.png)

In [69]:
class Triangle:
    # add init constructor
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

    # does sides from Triangle
    def is_triangle(self):
        s1 = self.a
        s2 = self.b 
        s3 = self.c
        if (s1+s2)>s3 and (s1+s3)>s2 and (s2+s3)>s1:
            tr = True
        else:
            tr = False
            print(f'The given sides of triangle : {self.a},{self.b},{self.c} Do not form a triangle')
        return tr

    # find perimeter of triangle
    def perimeter(self):
        if self.is_triangle()==True:
            p = self.a + self.b + self.c
        else:
            p = None
        return p

    # Find out area of triangle
    def area(self):
        if self.is_triangle()==True:
            s = (self.a + self.b + self.c)/2
            ar = (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
             ar = None
        return ar

In [70]:
d1 = Triangle(4,5,6)

In [71]:
d1.is_triangle()

True

In [78]:
d2 = Triangle(3,4,5)

In [79]:
d2.is_triangle()

True

In [80]:
d2.perimeter()

12

In [75]:
d1.perimeter()

15

In [76]:
d1.area()

9.921567416492215

In [81]:
d2.area()

6.0